/* CSS Document */
/* Responsive Design*/
@media only screen and (max-width: 768px) {

  /*h1,h2,h3,h4, {
      font-size:25px;
    }*/
  h3 {
    font-size: 1.1em;
  }

  h5 {
    font-size: 14px;
  }

  .section-aligner {
    padding-top: 50px !important;
  }

  .mobile-text-shrink {
    font-size: 25px;
    padding-top: 25px;
    text-align: center !important;
  }

  .slide-right {
    text-align: right !important;
  }

  .spacer {
    padding: 3em 1em;
  }
}

/* Container */
@media only screen and (max-width: 600px) {
}

@media (max-width: 768px) {
  .container-small {
    width: 400px;
  }

  .container-large {
    width: 800px
  }
}

@media (min-width: 768px) {
  .container-small {
    width: 600px;
  }

  .container-large {
    width: 1000px
  }
}

@media (min-width: 1200px) {
  .container-small {
    width: 700px;
  }

  .container-large {
    width: 1440px
  }
}

.container-small, .container-large {
  max-width: 100%;
}

/* Universal Styles */
html {
  /* optimize font rendering */
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  /* set base font size to 16px */
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'sans-serif';
  /* scroll effect: not supported within safari */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #5C5C61;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.container-fluid {
  padding: 0% 12%;
}

.overlay-hover:hover {
  color: #679895;
  transition: 0.3s;
}

figure {
  text-align: center;
  font-style: italic;
}

a.link-r3 {
  color: #679895;
  text-decoration: none display: inline-block;
}

a.link-r3:hover {
  color: #BEE1DD;
  text-decoration: none;
  display: inline-block;
}

/* Scroll Indicator */
.progress-container {
  width: 10%;
  height: 5px;
  background: #ccc;
}

.progress-bar {
  height: 5px;
  background: #591D95;
  width: 0%;
}

/* Strike */
@keyframes strike {
  0% {
    transform-origin: 0% 50%;
    transform: scaleX(0);
  }

  50% {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  50.01% {
    transform-origin: 100% 50%;
    transform: scaleX(1);
  }

  100% {
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }
}

.strike {
  position: relative;
  -webkit-animation: all 0.7s ease;
}

.strike:hover:after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(50, 50, 50);
  animation: strike .40s ease-in-out forwards;
}

/* Override Bootstrap a */
a.color-link {
  color: rgb(50, 50, 50);
  text-decoration: none;
  -webkit-transition: all 0.7s ease
}

a.color-link-prev {
  color: rgb(50, 50, 50);
  text-decoration: none;
  -webkit-transition: all 0.1s ease
}

a.color-link-prev:hover {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.1s ease
}

a.color-link-next {
  color: rgb(50, 50, 50);
  text-decoration: none;
  -webkit-transition: all 0.1s ease
}

a.color-link-next:hover {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.1s ease
}

a.nav-link {
  color: #5C5C61;
  -webkit-transition: all 0.7s ease
}

/* Text Styles */
p {
  font-size: 18px;
  /* font-weight: 400; */
  line-height: 1.8rem;
}

.section-title {
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
  color: rgb(50, 50, 50);
}

.section-title-r3 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(50, 50, 50);
  padding-bottom: 25px;
}

.section-sub-title {
  font-size: 28px;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.sprint-title {
  color: #679895;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}

.work-title {
  font-size: 50px;
  font-weight: 800;
}

.work-motto {
  font-size: 27px;
  font-weight: 500;
}

.opaque-title {
  font-weight: 800;
  text-align: center;
  font-size: 80px;
  color: #fff;
  text-shadow: 1px 1px 10px #f4f4f4, 1px 1px 10px rgb(218, 218, 218);
}

/*     Navbar      */
.navbar {
  top: 0px;
  z-index: 100;
  padding: 0.3% 12%;
  margin: 0;
  display: flex;
  background-color: #679895 !important;
  /* background-color:rgba(0,0,0,0); */
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #0d5a57 !important;
}

.image-brand {
  width: 30%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}

.image-brand {
  width: 30%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}

a .site-title {
  vertical-align: -webkit-baseline-middle;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 40%;
}

.site-title:hover {
  opacity: 0.6;
}

.nav-list {
  list-style: none;
  font-size: 1.2rem;
  justify-content: space-between;
}

.link {
  display: inline-block;
  margin: 8px 20px;
  font-weight: 600;
}

.link-concept {
  display: inline-block;
  margin: 8px 20px;
  font-weight: 600;
}

/* Home Section */
.spacer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.side-gutter {
  padding-left: 15px;
  padding-right: 15px;
}

.bottom-spacer {
  padding-bottom: 30px;
}

/* Scroll Effect */
.fadein {
  opacity: 0;
}

/* Scroll Effect */
.work-spacer {
  padding-top: 150px;
}

.r3-animated-gif {
  width: 500px;
  height: auto;
  display: block;
  margin-left: 40%;
  margin-right: auto;
  background-color: #679895 !important;
}

.paper-pic {
  width: 100%;
  height: auto 0;
}

/* Ending Screen */
.r3_logo-right-float {
  float: right;
  width: 15%;
  margin-bottom: -580px;
  position: relative;
}

.r3_logo-left-float {
  float: left;
  width: 15%;
  margin-top: -280px;
  position: relative;
}

/* Responsive Section for Reflection */
@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .container-fluid .row .container-small {
    width: 400px;
  }
}

.contact-title {
  letter-spacing: 3px;
  color: #679895;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.btn {
  background-color: #679895;
  border: none;
  padding: 15px 30px;
  margin: 20px 40px;
  border-radius: 30px;
}

.btn:hover {
  transform: translatey(-10px);
  box-shadow: 0 20px 15px -15px rgb(143, 143, 143);
  background-color: #BEE1DD;
}

.btn-primary {
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  will-change: box-shadow, transform;
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Next Feature */
.size-reduce {
  width: 50%;
  height: auto 0;
  align-items: center;
}

.background-deco {
  background-color: #f4f4f4;
  width: 100%;
  height: auto 0;
  padding: 25px 0 20px 0;
}

.next-spacer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.slide-right {
  text-align: right;
}

.slide-left {
  text-align: left;
}

.hand-back {
  -webkit-transition: all 0.7s ease
}

.hand-back:hover {
  transition: 0.9s;
  background-color: #31355B;
}

.further-projects {
  -webkit-transition: all 0.7s ease
}

.further-projects:hover {
  transition: 0.9s;
  background-color: #4AB19A;
}

.arrow {
  text-transform: uppercase;
  font-size: 14px;
}

/* Footer */
.social-icon {
  margin: 10px 10px;
}

.social-links {
  display: inline;
  margin-left: 80px;
}

.social-links ul li {
  list-style: none;
}

.copyright-section {
  color: rgb(161, 161, 161);
  line-height: 16px;
}

.social-list {
  margin-left: 30px;
  list-style: none;
}

@media screen and (max-width: 425px) {
  .nav-list {
    text-align: right;
  }

  .nav-list>.link {
    display: block;
    margin: 7px 8px;
    font-size: .9em;
  }

  .img-fluid {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /* padding-top: 25px; */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
