* {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* -------------

##################################
######### style guide #############
##################################

---------------*/

 :root {
    --green: rgba(93, 176, 166, 1);
    --black: rgba(0, 0, 0, 1);
    --darkgrey: rgba(67, 67, 67, 1);
  }

/* -------------

##################################
######### ALL SCREENS ############
##################################

---------------*/
a {
 text-decoration: none;
}

.topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--green);
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.material-icons.menu{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.material-icons.search{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 10px;
  cursor: pointer;
}

#plantlist .heading-plantlist {
  color: white;
  font-weight: 600;
  margin-left: 20px;
}

#plantlist .menu-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#plantlist .plants-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#plantlist .pic-option {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#plantlist .box-plant {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#plantlist .pic {
  cursor: pointer;
  height: 200px;
  width: 200px;
}

#plantlist .text-plant {
  color: black;
  font-weight: 600;
  padding: 15px;
  cursor: pointer;
}

#plantlist .circle-orange {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: orange;
  margin-right: 10px;
}

#plantlist .circle-green {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--green);
  margin-right: 10px;
}

#plantlist .circle-red {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: red;
  margin-right: 10px;
}

#plantlist .text-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
